.card{
    margin: 12px 12px 12px 24px;
    border: 1px solid rgb(239, 243, 244) !important;
    border-radius: 15px !important;
    width: 40%;
    
}

.card-body {
    width: 100%;
}

.card-title{
    font-weight: 800;
    font-size: 20px;
}

.card-text{
    color: gray;
    font-size: 13px;
}

.btn{
    width: 90%;
    margin: 6px 0;
    border-radius: 24px !important;
    border: 1px solid lightgray !important;;
}

.btn:hover{
    background-color: rgb(29, 155, 240) !important;
    color: white !important;
}

.btn-primary{
    color: black !important;
    background-color: transparent !important;
    
}

.termsText{
    margin-top: 6px;
    font-size: 13px;
}

.termsLink {
    display: inline !important;
    color: rgb(29, 155, 240) !important;
}