.twitterIcon {
    width: 30px ; 
    height: 30px ;
    margin: 0px ;
    padding-top: 20px ;
    color: var(--twitter-color);
    margin-left: 44% ;
    margin-bottom: 15px;
}


.tweetButton {
    width: 50%;
    height: 50px;
    background-color: var(--twitter-color);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40%;
}

.tweetButton:hover {
    background-color: #30a7f1;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

